[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "bkmrhat"]
	path = bkmrhat
	url = https://github.com/alexpkeil1/bkmrhat
[submodule "metropolis"]
	path = metropolis
	url = https://github.com/cran/metropolis
[submodule "qgcomp"]
	path = qgcomp
	url = https://github.com/alexpkeil1/qgcomp
[submodule "qgcompint"]
	path = qgcompint
	url = https://github.com/cran/qgcompint
