[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "bkmrhat"]
	path = bkmrhat
	url = https://github.com/alexpkeil1/bkmrhat
	shallow = true
	registered = true
[submodule "qgcomp"]
	path = qgcomp
	url = https://github.com/alexpkeil1/qgcomp
	shallow = true
	registered = true
